# Ignore les fichiers système Windows
Thumbs.db
Desktop.ini
# Ignore les fichiers spécifiques de l'utilisateur
*.log
*.bak
*.swp
# Ignore les répertoires généraux
node_modules/
.idea/
.vscode/
*.iml
# Ignore les fichiers générés
/dist/
.build/
